# Ignore Drupal core
core/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore contrib modules, profiles, and themes
modules/contrib/
profiles/contrib/
themes/contrib/

# Ignore vendor directory
/vendor
/autoload.php

# Ignore composer.lock
# Comment out the following line
composer.lock
