
web/core/
web/modules/contrib/
web/profiles/contrib/
web/sites/*/files/
web/sites/*/private/
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/*/settings*.php
web/sites/*/services*.yml
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/themes/contrib/
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/autoload.php
web/index.php
web/robots.txt
web/update.php
web/web.config
vendor/

# Ignore the following line
composer.lock
